.custom-a-title{
  color: aqua;
}

.custom-hover-link:hover {
  color: black;
  background-color: aqua;
  border-radius: 50px; 
}

.custom-hover-link {
  border-radius: 50px;
}



.custom-hover-a:hover{
  color: black;

}