<div class="row mt-5 p-4">
    <div class="col">
        
        <h1>Benvenuto su StreamScape!</h1>
        <p>StreamScape è la tua piattaforma di streaming definitiva, progettata per offrirti un'esperienza di intrattenimento senza pari. Con un catalogo vastissimo e in continua espansione, StreamFlix mette a tua disposizione film, serie TV, documentari e programmi originali esclusivi, tutto in alta definizione e accessibile da qualsiasi dispositivo connesso a Internet.</p>

        




    </div>




</div>


