<div class="row mt-5">
    <div class="col mt-5 me-auto  " *ngFor="let m of movie" >
        <div class="card" style="width: 18rem;">
           
            <div class="card-body">
              <h5 class="card-title">{{m.id}}</h5>
              <p class="card-text">{{m.titolo}}</p>
              <p class="text-start" >{{m.descrizione}}</p>
              <div class="d-flex justify-content-between" >              
              <button (click)="toogleFavorite(m)" class="btn btn-primary" >Aggiungi a preferiti!</button>
              <button class="btn btn-primary" >elimina</button>
            </div>
            </div>
          </div>
    </div>
</div>
